Repository rust-lang/futures-rs, pull requests merged in 2020-12, with the labels that each got.

#2268 feat: Add sink::unfold
  futures-util/src/sink/mod.rs
  futures-util/src/sink/unfold.rs
  futures/src/lib.rs
  futures/tests/sink.rs
Labels: C-feature-request, futures-util

#2155 SinkExt::feed
  futures-util/src/sink/feed.rs
  futures-util/src/sink/mod.rs
  futures-util/src/sink/send.rs
  futures/src/lib.rs
Labels: futures-util

#2279 Add stream::repeat_with() method
  futures-util/src/stream/mod.rs
  futures-util/src/stream/repeat_with.rs
  futures/src/lib.rs
Labels: C-feature-request, futures-util

#2290 Implement Clone on With combinator
  futures-util/src/sink/with.rs
  futures/tests/sink.rs
Labels: A-sink, C-feature-request

#2283 perf: Pack the state and future of unfolds in the same memory
  futures-util/src/lib.rs
  futures-util/src/sink/unfold.rs
  futures-util/src/stream/unfold.rs
  futures-util/src/unfold_state.rs
Labels: A-sink, A-stream, S-waiting-on-author
