Repository rust-lang/futures-rs, pull requests merged in 2020-10, with the labels that each got.

#2222 Remove truncated paragraphs from select! docs
  futures-util/src/async_await/select_mod.rs
Labels: docs

#2219 Prepare 0.1.30
  Cargo.toml
  futures01/Cargo.toml
Labels: futures-0.1

#2169 Add WeakShared.
  futures-util/src/future/future/mod.rs
  futures-util/src/future/future/shared.rs
  futures-util/src/future/mod.rs
  futures/src/lib.rs
  futures/tests/shared.rs
Labels: futures-util

#2248 impl Clone for stream::{Empty, Pending, Repeat}
  futures-util/src/stream/empty.rs
  futures-util/src/stream/pending.rs
  futures-util/src/stream/repeat.rs
Labels: C-feature-request, futures-util
