Repository rust-lang/futures-rs, pull requests merged in 2021-07, with the labels that each got.

#2460 StreamExt::All / StreamExt::Any
  futures-util/src/stream/stream/all.rs
  futures-util/src/stream/stream/any.rs
  futures-util/src/stream/stream/mod.rs
Labels: 0.3-backport: pending, A-stream

#2452 New poll_immediate functions to immediately return from a poll
  futures-util/src/future/mod.rs
  futures-util/src/future/poll_immediate.rs
  futures-util/src/stream/mod.rs
  futures-util/src/stream/poll_immediate.rs
Labels: A-future, A-stream

#2262 Stream select macro
  futures-macro/src/lib.rs
  futures-macro/src/stream_select.rs
  futures-util/src/async_await/mod.rs
  futures-util/src/async_await/stream_select_mod.rs
  futures/src/lib.rs
  futures/tests/async_await_macros.rs
Labels: A-stream
