Repository rust-lang/futures-rs, pull requests merged in 2021-02, with the labels that each got.

#2304 Port "fix race with dropping mpsc::Receiver" to 0.3
  futures-channel/src/mpsc/mod.rs
  futures-channel/tests/mpsc-close.rs
Labels: A-channel

#2345 small change in `select` example.
  futures-util/src/future/select.rs
Labels: docs

#2333 FuturesUnordered: Do not poll the same future twice per iteration
  futures-util/src/stream/futures_unordered/mod.rs
  futures/tests/futures_unordered.rs
Labels: A-stream

#2358 Backport to 0.1: FuturesUnordered: Do not poll the same future twice per iteration
  src/stream/futures_unordered.rs
  tests/futures_unordered.rs
Labels: S-waiting-on-author, futures-0.1

#2360 0.1: Migrate CI to GitHub Actions
  .github/workflows/ci.yml
  .travis.yml
  Cargo.toml
  README.md
  appveyor.yml
  futures-cpupool/README.md
Labels: futures-0.1

#2359 Release 0.1.31
  Cargo.toml
  futures01/Cargo.toml
Labels: futures-0.1

#2293 futures_util::stream::SelectAll::push should use &self.
  futures-util/src/stream/select_all.rs
Labels: A-stream, S-blocked

#2363 future::SelectAll::into_inner
  futures-util/src/future/select_all.rs
Labels: 0.3-backport:pending, A-future

#2366 Revert import changes in tests
  futures/tests/abortable.rs
  futures/tests/arc_wake.rs
  futures/tests/async_await_macros.rs
  futures/tests/atomic_waker.rs
  futures/tests/buffer_unordered.rs
  futures/tests/eager_drop.rs
  futures/tests/future_obj.rs
  futures/tests/future_try_flatten_stream.rs
  futures/tests/futures_ordered.rs
  futures/tests/futures_unordered.rs
  futures/tests/inspect.rs
  futures/tests/io_buf_reader.rs
  futures/tests/io_buf_writer.rs
  futures/tests/io_cursor.rs
  futures/tests/io_lines.rs
  futures/tests/io_read.rs
  futures/tests/io_read_exact.rs
  futures/tests/io_read_line.rs
  futures/tests/io_read_to_end.rs
  futures/tests/io_read_to_string.rs
  futures/tests/io_read_until.rs
  futures/tests/io_write.rs
  futures/tests/join_all.rs
  futures/tests/macro_comma_support.rs
  futures/tests/mutex.rs
  futures/tests/oneshot.rs
  futures/tests/ready_queue.rs
  futures/tests/recurse.rs
  futures/tests/select_all.rs
  futures/tests/select_ok.rs
  futures/tests/shared.rs
  futures/tests/sink.rs
  futures/tests/sink_fanout.rs
  futures/tests/split.rs
  futures/tests/stream.rs
  futures/tests/stream_catch_unwind.rs
  futures/tests/stream_into_async_read.rs
  futures/tests/stream_peekable.rs
  futures/tests/stream_select_all.rs
  futures/tests/stream_select_next_some.rs
  futures/tests/try_join.rs
  futures/tests/try_join_all.rs
  futures/tests/unfold.rs
Labels: 0.3-backport:pending

#2367 Unify test file naming
  futures/tests/future_abortable.rs
  futures/tests/future_basic_combinators.rs
  futures/tests/future_fuse.rs
  futures/tests/future_inspect.rs
  futures/tests/future_join_all.rs
  futures/tests/future_select_all.rs
  futures/tests/future_select_ok.rs
  futures/tests/future_shared.rs
  futures/tests/future_try_join_all.rs
  futures/tests/lock_mutex.rs
  futures/tests/stream_buffer_unordered.rs
  futures/tests/stream_futures_ordered.rs
  futures/tests/stream_futures_unordered.rs
  futures/tests/stream_split.rs
  futures/tests/stream_try_stream.rs
  futures/tests/stream_unfold.rs
  futures/tests/task_arc_wake.rs
  futures/tests/task_atomic_waker.rs
Labels: 0.3-backport:pending
