Repository rust-lang/futures-rs, pull requests merged in 2021-01, with the labels that each got.

#2300 impl FusedFuture for oneshot::Receiver
  futures-channel/src/oneshot.rs
Labels: A-channel

#2306 perf: Avoid an Option in the `Map*` futures
  futures-util/Cargo.toml
  futures-util/src/future/future/map.rs
  futures-util/src/sink/unfold.rs
  futures-util/src/stream/unfold.rs
  futures-util/src/unfold_state.rs
Labels: A-future

#2314 Fix handling of malicious readers in read_to_end
  futures-util/src/io/read_to_end.rs
  futures/tests/io_read_to_end.rs
Labels: A-io

#2317 Fix Unpin impl of (Try)MaybeDone
  futures-util/src/future/either.rs
  futures-util/src/future/maybe_done.rs
  futures-util/src/future/try_maybe_done.rs
Labels: A-future

#2322 Use assert_* functions for all future/stream/sink/io combinators
  futures-util/src/future/abortable.rs
  futures-util/src/future/future/mod.rs
  futures-util/src/future/join.rs
  futures-util/src/future/join_all.rs
  futures-util/src/future/lazy.rs
  futures-util/src/future/maybe_done.rs
  futures-util/src/future/pending.rs
  futures-util/src/future/poll_fn.rs
  futures-util/src/future/ready.rs
  futures-util/src/future/select.rs
  futures-util/src/future/select_all.rs
  futures-util/src/future/select_ok.rs
  futures-util/src/future/try_future/mod.rs
  futures-util/src/future/try_join.rs
  futures-util/src/future/try_join_all.rs
  futures-util/src/future/try_maybe_done.rs
  futures-util/src/future/try_select.rs
  futures-util/src/io/mod.rs
  futures-util/src/sink/drain.rs
  futures-util/src/sink/mod.rs
  futures-util/src/sink/unfold.rs
  futures-util/src/stream/empty.rs
  futures-util/src/stream/iter.rs
  futures-util/src/stream/mod.rs
  futures-util/src/stream/once.rs
  futures-util/src/stream/pending.rs
  futures-util/src/stream/poll_fn.rs
  futures-util/src/stream/repeat.rs
  futures-util/src/stream/repeat_with.rs
  futures-util/src/stream/select.rs
  futures-util/src/stream/select_all.rs
  futures-util/src/stream/stream/mod.rs
  futures-util/src/stream/try_stream/mod.rs
  futures-util/src/stream/try_stream/try_unfold.rs
  futures-util/src/stream/unfold.rs
Labels: A-future, A-io, A-sink, A-stream

#2324 Use #[doc(no_inline)] on re-exports from core/std
  futures-core/src/future.rs
  futures-core/src/task/mod.rs
  futures-io/src/lib.rs
  futures-task/src/lib.rs
  futures-util/src/future/mod.rs
  futures-util/src/io/mod.rs
  futures-util/src/task/mod.rs
Labels: docs
