Repository rust-lang/futures-rs, pull requests merged in 2021-03, with the labels that each got.

#2368 Document results of UnboundedReceiver::try_next
  futures-channel/src/mpsc/mod.rs
Labels: 0.3-backport: pending, docs

#2369 Allow calling UnboundedReceiver::try_next after None
  futures-channel/src/mpsc/mod.rs
  futures-channel/tests/mpsc-close.rs
Labels: 0.3-backport: pending, A-channel

#2372 Add Receiver::try_next return value descriptions
  futures-channel/src/mpsc/mod.rs
Labels: 0.3-backport: pending, A-channel, docs

#2364 Buffered, BufferUnordered: Assert maximum size of buffer is non-zero
  futures-util/src/stream/stream/buffer_unordered.rs
  futures-util/src/stream/stream/buffered.rs
  futures-util/src/stream/stream/mod.rs
  futures/tests/stream.rs
Labels: A-stream

#2340 0.4: Change SinkExt::send_all to take stream by value
  futures-util/src/sink/mod.rs
  futures-util/src/sink/send_all.rs
  futures/tests/auto_traits.rs
Labels: A-sink

#2380 Add AsyncSeekExt::stream_position
  futures-util/src/io/mod.rs
Labels: 0.3-backport: pending, A-io
