Repository rust-lang/futures-rs, pull requests merged in 2021-05, with the labels that each got.

#2405 Bump MSRV of futures-util to 1.41
  .github/workflows/ci.yml
  README.md
Labels: 0.3-backport: pending

#2407 Use #[proc_macro] at Rust 1.45+
  futures-macro/Cargo.toml
  futures-macro/build.rs
  futures-macro/src/lib.rs
  futures-util/Cargo.toml
  futures-util/build.rs
  futures-util/src/async_await/join_mod.rs
  futures-util/src/async_await/select_mod.rs
Labels: 0.3-backport: pending, A-macro

#2408 improve must_use comment on RemoteHandle
  futures-util/src/future/future/remote_handle.rs
Labels: 0.3-backport: pending

#2411 add either example
  futures-util/src/future/either.rs
  futures-util/src/sink/mod.rs
Labels: docs

#2416 impl Send + Sync for FuturesUnordered iterators
  futures-util/src/stream/futures_unordered/iter.rs
  futures/tests/auto_traits.rs
Labels: 0.3-backport: pending, A-stream

#2418 Revert "add size_hint to mpsc receiver"
  futures-channel/src/mpsc/mod.rs
Labels: A-channel

#2420 Add missing assertions to auto_traits test
  futures/tests/auto_traits.rs
Labels: 0.3-backport: pending

#2426 Rename Take::limit_ field to limit
  futures-util/src/io/take.rs
Labels: A-io

#2423 add FuturesUnordered::into_iter, make iter_pin_ref public
  futures-util/src/stream/futures_unordered/iter.rs
  futures-util/src/stream/futures_unordered/mod.rs
  futures/tests/auto_traits.rs
  futures/tests/stream_futures_unordered.rs
Labels: 0.3-backport: pending, A-stream

#2415 FuturesUnordered::clear
  futures-util/src/stream/futures_unordered/mod.rs
  futures-util/src/stream/futures_unordered/ready_to_run_queue.rs
  futures/tests/stream_futures_unordered.rs
Labels: 0.3-backport: pending, A-stream

#2410 Abortable streams
  futures-util/src/abortable.rs
  futures-util/src/future/abortable.rs
  futures-util/src/future/mod.rs
  futures-util/src/lib.rs
  futures-util/src/stream/abortable.rs
  futures-util/src/stream/mod.rs
  futures/tests/future_abortable.rs
  futures/tests/stream_abortable.rs
Labels: 0.3-backport: pending, A-stream

#2428 expose iterators from SelectAll
  futures-util/src/stream/select_all.rs
Labels: 0.3-backport: pending, A-stream

#2431 Change SelectAll iterators to return stream instead of StreamFuture
  futures-util/src/stream/futures_unordered/iter.rs
  futures-util/src/stream/mod.rs
  futures-util/src/stream/select_all.rs
  futures/tests/stream_select_all.rs
Labels: 0.3-backport: pending, A-stream

#2433 futures-macro: improve diagnostics on type mismatch
  futures-macro/Cargo.toml
  futures-macro/src/executor.rs
  futures/tests/test_macro.rs
Labels: 0.3-backport: pending, A-macro

#2435 Remove extra text from test attribute docs
  futures-macro/src/lib.rs
Labels: 0.3-backport: pending, docs

#2436 Release 0.3.15
  CHANGELOG.md
  futures-channel/Cargo.toml
  futures-core/Cargo.toml
  futures-executor/Cargo.toml
  futures-io/Cargo.toml
  futures-macro/Cargo.toml
  futures-sink/Cargo.toml
  futures-task/Cargo.toml
  futures-test/Cargo.toml
  futures-util/Cargo.toml
  futures/Cargo.toml
Labels: futures-0.3

#2427 Change StreamExt::scan to pass state to closure by value
  futures-util/src/sink/unfold.rs
  futures-util/src/stream/stream/mod.rs
  futures-util/src/stream/stream/scan.rs
  futures-util/src/unfold_state.rs
  futures/tests/stream.rs
Labels: A-stream

#2438 Implement try_chunks
  futures-util/src/stream/mod.rs
  futures-util/src/stream/try_stream/mod.rs
  futures-util/src/stream/try_stream/try_chunks.rs
Labels: A-stream

#2429 allow no limit for buffered stream combinators
  futures-util/src/stream/stream/buffer_unordered.rs
  futures-util/src/stream/stream/buffered.rs
  futures-util/src/stream/stream/mod.rs
  futures-util/src/stream/try_stream/mod.rs
  futures-util/src/stream/try_stream/try_buffer_unordered.rs
  futures-util/src/stream/try_stream/try_buffered.rs
  futures/tests/stream.rs
Labels: A-stream
