Repository rust-lang/futures-rs, pull requests merged in 2021-04, with the labels that each got.

#2379 Add stream::Peekable::{next_if, next_if_eq}
  futures-util/src/stream/mod.rs
  futures-util/src/stream/stream/mod.rs
  futures-util/src/stream/stream/peek.rs
  futures/tests/stream_peekable.rs
Labels: 0.3-backport: pending, A-stream

#2343 0.4: Remove join3/4/5 and try_join3/4/5
  futures-util/src/future/join.rs
  futures-util/src/future/mod.rs
  futures-util/src/future/try_join.rs
  futures/tests/sink_fanout.rs
Labels: A-future

#2342 Move try_fold, try_for_each, and try_for_each_concurrent to StreamExt
  futures-util/src/stream/mod.rs
  futures-util/src/stream/stream/mod.rs
  futures-util/src/stream/stream/try_fold.rs
  futures-util/src/stream/stream/try_for_each.rs
  futures-util/src/stream/stream/try_for_each_concurrent.rs
  futures-util/src/stream/try_stream/mod.rs
Labels: A-stream

#2388 Link to modules instead of traits
  futures/src/lib.rs
Labels: 0.3-backport: pending, docs

#2391 Release 0.3.14
  CHANGELOG.md
  futures-channel/Cargo.toml
  futures-core/Cargo.toml
  futures-executor/Cargo.toml
  futures-io/Cargo.toml
  futures-macro/Cargo.toml
  futures-sink/Cargo.toml
  futures-task/Cargo.toml
  futures-test/Cargo.toml
  futures-util/Cargo.toml
  futures/Cargo.toml
Labels: futures-0.3

#2396 Add Clone to WeakShared
  futures-util/src/future/future/shared.rs
Labels: 0.3-backport: pending, A-future
