Repository rust-lang/futures-rs, pull requests merged in 2022-07, with the labels that each got.

#2591 Add push_front and push_back to FuturesOrdered
  futures-util/src/stream/futures_ordered.rs
  futures-util/src/stream/stream/buffered.rs
  futures-util/src/stream/try_stream/try_buffered.rs
  futures/tests/stream_futures_ordered.rs
Labels: A-stream

#2613 `doc(alias)` `pending()` to `never`
  futures-util/src/future/pending.rs
Labels: docs, 0.3-backport: pending

#2626 Inline WakerRef functions
  futures-task/src/waker_ref.rs
Labels: A-task, 0.3-backport: pending
