Repository rust-lang/futures-rs, pull requests merged in 2022-02, with the labels that each got.

#2551 FuturesUnordered: Respect yielding from future
  futures-util/src/stream/futures_unordered/mod.rs
  futures-util/src/stream/futures_unordered/task.rs
  futures/tests/stream_futures_unordered.rs
Labels: A-stream, 0.3-backport: pending

#2083 Basic `StreamExt::{flatten_unordered, flat_map_unordered}` impls
  futures-util/benches/flatten_unordered.rs
  futures-util/src/stream/stream/flatten_unordered.rs
  futures-util/src/stream/stream/mod.rs
  futures/tests/stream.rs
Labels: A-stream

#2564 Redefine executor and compat modules in futures crate
  futures/src/lib.rs
Labels: docs, 0.3-backport: pending

#2566 `FlattenUnordered`: improve wakers behavior
  futures-util/src/stream/stream/flatten_unordered.rs
Labels: A-stream, 0.3-backport: pending

#2574 FuturesUnordered: fix partial iteration
  futures-util/src/stream/futures_unordered/iter.rs
  futures/tests/stream_futures_unordered.rs
Labels: A-stream, 0.3-backport: pending
