Repository rust-lang/futures-rs, pull requests merged in 2023-07, with the labels that each got.

#2757 Add `TryStreamExt::try_ready_chunks` as failable version of `StreamExt::ready_chunks`
  futures-util/src/stream/mod.rs
  futures-util/src/stream/try_stream/mod.rs
  futures-util/src/stream/try_stream/try_ready_chunks.rs
Labels: A-stream, 0.3-backport: pending

#2765 (futures v0.1) Fix logic bug in stream::Stream::filter_map doctest
  src/stream/mod.rs
Labels: futures-0.1

#2750 Add `len` method for `UnboundedSender`
  futures-channel/src/mpsc/mod.rs
  futures-channel/tests/mpsc.rs
Labels: A-channel, 0.3-backport: pending
