Repository rust-lang/futures-rs, pull requests merged in 2023-03, with the labels that each got.

#2716 Make BiLock strict-provenance compatible
  futures-util/src/lock/bilock.rs
Labels: A-lock, 0.3-backport: pending

#2728 Don't ignore empty state polling
  futures-util/src/stream/stream/flatten_unordered.rs
  futures/tests/stream.rs
Labels: A-stream

#2733 Bump MSRV of utility crates to 1.56
  .github/workflows/ci.yml
  README.md
  futures-channel/Cargo.toml
  futures-channel/README.md
  futures-executor/Cargo.toml
  futures-executor/README.md
  futures-macro/Cargo.toml
  futures-task/Cargo.toml
  futures-task/README.md
  futures-test/Cargo.toml
  futures-test/README.md
  futures-util/Cargo.toml
  futures-util/README.md
  futures/Cargo.toml
Labels: 0.3-backport: pending

#2730 Update to syn-2
  futures-macro/Cargo.toml
  futures-macro/src/executor.rs
  futures-macro/src/select.rs
Labels: 0.3-backport: pending
