Repository rust-lang/futures-rs, pull requests merged in 2025-04, with the labels that each got.

#2940 chore: replace all doctest usage of pin_mut with pin
  futures-test/src/assert.rs
  futures-test/src/future/mod.rs
  futures-test/src/io/read/mod.rs
  futures-test/src/io/write/mod.rs
  futures-test/src/stream/mod.rs
  futures-test/src/task/context.rs
  futures-util/src/async_await/select_mod.rs
  futures-util/src/future/future/fuse.rs
  futures-util/src/future/maybe_done.rs
  futures-util/src/future/poll_immediate.rs
  futures-util/src/future/select.rs
  futures-util/src/sink/unfold.rs
  futures-util/src/stream/stream/peek.rs
  futures-util/src/stream/try_stream/mod.rs
Labels: A-stream, A-sink, A-future, A-macro, S-waiting-on-review

#2942 chore: replace all test usage of pin_mut
  futures-channel/tests/mpsc.rs
  futures/tests/async_await_macros.rs
  futures/tests/future_join_all.rs
  futures/tests/future_try_join_all.rs
  futures/tests/io_buf_reader.rs
  futures/tests/sink.rs
  futures/tests/stream_peekable.rs
Labels: S-waiting-on-review

#2944 channel: Add try_recv and deprecate try_next
  futures-channel/src/mpsc/mod.rs
  futures-channel/tests/mpsc-close.rs
  futures-channel/tests/mpsc-size_hint.rs
  futures-channel/tests/mpsc.rs
  futures/tests/sink.rs
Labels: A-channel, S-waiting-on-review

#2948 feat: sink::With: FusedStream
  futures-util/src/sink/with.rs
Labels: A-sink, 0.3-backport: pending

#2949 refactor: remove leftover from `read_initializer` feature
  futures-util/src/io/mod.rs
  futures-util/src/io/read_to_end.rs
Labels: A-io, S-waiting-on-review

#2947 channel: Add recv
  futures-channel/src/mpsc/mod.rs
  futures-channel/tests/mpsc.rs
Labels: A-channel
